<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../assets/ico/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.1/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<style type="text/css">a:hover{color:white;text-decoration:none;}a{color: #FFFFFF;}
</style>
</head>

<body style="background-color:#2c4762">

    <div class="container" style="margin-top:100px;">

        <form class="form-signin" role="form">
            <h1 class="form-signin-heading" style="color:white">Forgot Password</h1>
            <input type="email" class="form-control" placeholder="Email address" required autofocus>
            <div class="row">
                <div class="col-md-4">
                  <button class="btn btn-lg  btn-primary btn-block" href="#" style="margin-top:10px;"><a style="" href="#">Cancel</a></button>
                </div>
                <div class="col-md-8">
                    <button class="btn btn-lg  btn-primary btn-block" type="submit" style="margin-top:10px;">Sign in</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">            
                    <a href="/login/password" class="forgot">Forgot Password?</a>
                </div>
                <div class="" style="float:right;padding-right:20px">
                    <a href="/login/password" class="forgot">Not a recruiter</a>
                </div>
            </div>
        </form>

    </div>
    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</body>

</html>
